body {
  margin: 0px;
  font-family: "Roboto Slab", Arial, sans-seriff;
  color: #525252;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

header {
  display: flex;
  place-content: space-between;
  padding: 50px 140px;
  align-items: center;
}

.headermenu {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.headermenu a {
  text-decoration: none;
  color: #141414;
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  display: block;
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  header a {
    background: #f5f5f5;
    border-radius: 4px;
  }
}

main {
  padding: 24px 140px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 140px;
}

main img {
  object-fit: cover;
  height: 100%;
}

.introd {
  max-width: 60ch;
}

.introd h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.125;
  color: #141414;
  position: relative;
}

.introd h1::before {
  content: "";
  display: flex;
  position: absolute;
  background-image: url("/img/detalhe.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  left: -40px;
  top: 25px;
}

.introd h2 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 42px;
  padding: 30px 0;
}

@media (max-width: 1400px) {
  main {
    padding: 15px 100px;
  }
}
@media (max-width: 1100px) {
  main {
    gap: 60px;
    padding: 10px 60px;
  }
  .introd h1::before {
    width: 20px;
    height: 20px;
    left: -30px;
    top: 15px;
  }
  .introd h1 {
    font-size: 3rem;
  }
  .introd h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr 1fr;
    padding: 10px 30px;
  }

  .introd h1::before {
    width: 15px;
    height: 15px;
    left: -20px;
    top: 10px;
  }

  .introd h1 {
    font-size: 2.5rem;
  }
  .introd h2 {
    font-size: 1.3rem;
    padding: 10px 0;
  }
}
@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
    gap: 0px;
    padding-top: 0px;
  }
  main img {
    height: 75%;
    display: flex;
    justify-self: center;
  }
}

section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 155px 185px;
  gap: 120px;
  align-items: center;
}

.subtitulo {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  line-height: 120px;
  color: #e0e0e0;
  text-align: center;
  word-break: break-all;
}

#experiencia h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 90px;
  color: #141414;
  position: relative;
  padding-bottom: 30px;
}

#experiencia h1::before {
  content: "";
  display: flex;
  position: absolute;
  background-image: url("/img/detalhe.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  left: -40px;
  top: 30px;
}

.experiencia-texto {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 32px;
  max-width: 36ch;
  padding-bottom: 60px;
}
.experiencia-texto strong {
  color: #141414;
}

.projeto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 60px;
}
.projeto2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 60px;
  margin-top: 30px;
}

.projeto-titulo {
  position: relative;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 32px;
  color: #141414;
}

.projeto-titulo::before {
  content: "";
  display: flex;
  position: absolute;
  background-image: url("/img/detalhe.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 5px;
  height: 5px;
  left: -10px;
  top: 13px;
}

.projeto-data {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 32px;
  color: #7a7a7a;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.empresa-habilidades li {
  background: #e0e0e0;
  color: #141414;
  border-radius: 5px;
  padding: 5px 10px;
}
